body {
  background-color:#424242;
  font-family: 'Roboto', sans-serif;
}

.header {
  color: #ffc400;
  text-align: center;
  margin: 20px;
}

.pills {
  padding: 35px 5px;
  border: 5px solid #424242;
}

.specs{
  font-size: 10px !important;
}