body {
  background-color:#424242;
  font-family: 'Roboto', sans-serif;
}

.header {
  color: #ffc400;
  text-align: center;
  margin: 20px;
}

.pills {
  padding: 35px 5px;
  border: 5px solid #424242;
}

.pillspage {
  padding: 15px 5px;
  border: 5px solid #424242;
}

.specs{
  font-size: 10px !important;
}

.time{
  margin-bottom: 10px !important;
}

.pagespechold{
  padding-top: 12px;
}

.pagespec{
  border: 2px solid #6c757d;
  padding: 8px 5px;
  font-size: 18px;
}

.viewreport{
  padding-top: 10px;
}
